<% if !current_user.blank? %>
  <div id="headerSection">
    <div class="container">
      <div style="width:41%; float:left;">
        <h1><img src="<%= image_path('logo.png') %>" width="100"></h1>
      </div>


      <div class="collapse nav-collapse" style="margin:10px;">
        <form action="" class="navbar-search pull-right">
          <input type="text" class="search-query"  />
          <input type="button" class="btn" value="Search">
        </form>
        Logged in as <strong><%= current_user.name %></strong>.
        <ul class="nav pull-right" style="margin:10px;">
          <li style="float:left; margin-right:20px;"><a href="/documents">Dashbord</a></li>
          <li style="float:left; margin-right:20px;"><a href="/documents/new">Upload Documents</a></li>
          <li style="float:left;">
            <%= link_to "Logout", destroy_user_session_path, :method =>:delete  %>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<!--<%# if user_signed_in? %>
<%#*Logged in as <strong><%= current_user.name %></strong>.%>
<%#= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
<%#= link_to "Logout", destroy_user_session_path, :method =>:delete, :class => 'navbar-link'  %>

<%# end %> -->