<h1>Listing libraries</h1>

<table style="width: 100%" class= "table-bordered table-striped">
  <thead>
    <tr>
      <th class="text-center">Image</th>
      <th colspan="2" class="text-center">Manage</th>
    </tr>
  </thead>
  <tbody>

    <% @libraries.each do |library| %>
      <tr>
        <td><%= image_tag(library.image.url, width: "200px", class: "thumbnail") %></td>
        <td class="text-center"><%= link_to "Show", library_path(library.id) %></td>
        <td class="text-center"><%= link_to "Delete", library_path(library.id), method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
<%= will_paginate @libraries %>
</div>

