%div
  %h3= "Welcome to the #{ENV['SITE_NAME']}"

  %p
    This website is a catalogue of research and evaluation reports and documents that have results that are relevant to children and youth ages 0 to 24 years and the people who work to support them.

  %p
    The Hub is open to the public and can be used for research, planning, grant writing and a variety of other purposes.

  %p
    If you have any suggestions or comments please contact the Peel Children and Youth Research Manager Heather Krause at
    = "#{(mail_to "hkrause@pcyi.org", "hkrause@pcyi.org")}.".html_safe
    Enjoy.
