<div class="modal-body">
  <%= form_for(@keyword, :html=>{:class=>"form-horizontal"}) do |f| %>

  
      <%= f.hidden_field :document_id %>

    <div class="control-group">
      <label for="contact-name" class="control-label">Key Word :</label>

      <div class="controls">
        <%= f.text_field :keyword_text, :required=>"required",:id=>"contact-name", :placeholder=>"Key Word" %>
  <%#*<input type="text" required id="contact-name" placeholder="Key Word" />%>
      </div>
    </div>



    <div class="control-group">
      <div class="controls">
        <%= f.submit "Save" ,:class=>"btn btn-primary" %>

        <input type="reset" class="btn btn-primary" value="Cancel" data-dismiss="modal" />
      </div>
    </div>
  <% end %>
</div>
