%h3 About us

%p
  The PCYI Research Hub is a collaboration of the PCYI Research Team and the PCYI Research and Evaluation Reference Group.  This reference group includes members from a diverse range of community organizations including:
  %ul
    %li Associated Youth Services of Peel
    %li Child Development Resource Connection Peel
    %li City of Brampton
    %li City of Mississauga
    %li Dufferin Peel Catholic School Board
    %li Peel Data Centre
    %li Peel District School Board
    %li Peel Family Health
    %li Peel United Way
    %li Region of Peel
    %li The Peel Children’s Aid
    %li Trillium Health Centre

%p
  = "The database is updated on a monthly basis.  If you would like your research to be included please contact #{ENV['MANAGER_NAME']}, PCYI Research Manager, #{mail_to(ENV['MANAGER_EMAIL'], ENV['MANAGER_EMAIL'])}. Priority is given to the inclusion of material that includes Peel-specific data and analysis. Other materials may be included as time as space permit.".html_safe
