%h3 Dashboard

.tableauPlaceholder{:style => "width: 699px; height: 458px;"}
  %noscript
    %a{:href => "#"}
      %img{:alt => "2010 GDP per capita by country ", :src => "https://public.tableausoftware.com/static/images/Wo/WorldIndicators_241/GDPpercapita/1_rss.png", :style => "border: none"}/
  %object.tableauViz{:height => "458", :style => "display:none;", :width => "699"}
    %param{:name => "host_url", :value => "https%3A%2F%2Fpublic.tableausoftware.com%2F"}/
    %param{:name => "site_root", :value => ""}/
    %param{:name => "name", :value => "WorldIndicators_241/GDPpercapita"}/
    %param{:name => "tabs", :value => "no"}/
    %param{:name => "toolbar", :value => "yes"}/
    %param{:name => "static_image", :value => "https://public.tableausoftware.com/static/images/Wo/WorldIndicators_241/GDPpercapita/1.png"}/
    %param{:name => "animate_transition", :value => "yes"}/
    %param{:name => "display_static_image", :value => "yes"}/
    %param{:name => "display_spinner", :value => "yes"}/
    %param{:name => "display_overlay", :value => "yes"}/
    %param{:name => "display_count", :value => "yes"}/
%div{:style => "width:699px;height:22px;padding:0px 10px 0px 0px;color:black;font:normal 8pt verdana,helvetica,arial,sans-serif;"}
  %div{:style => "float:right; padding-right:8px;"}
    %a{:href => "http://www.tableausoftware.com/public/about-tableau-products?ref=https://public.tableausoftware.com/views/WorldIndicators_241/GDPpercapita", :target => "_blank"} Learn About Tableau