<script type='text/javascript' src='https://public.tableau.com/javascripts/api/viz_v1.js'>
</script>

<div class='tableauPlaceholder' style='width: 982px; height: 742px;'>
  <noscript>
    <a href='#'><img alt='Stepping Up: A Strategic Framework to Help Ontario’s Youth Succeed Dashboard watching Ontario and Peel youth progress ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;St&#47;SteppingStonesWorkbook&#47;SteppingUpPeelOntario&#47;1_rss.png' style='border: none' /></a>
  </noscript>

  <object class='tableauViz' width='982' height='742' style='display:none;'>
    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
    <param name='site_root' value='' />
    <param name='name' value='SteppingUpDashboardPeelandOntario&#47;SteppingUpPeelOntariov2' />
    <param name='tabs' value='no' /><param name='toolbar' value='yes' />
    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;St&#47;SteppingUpDashboardV2PeelandOntario&#47;SteppingUpPeelOntariov2&#47;1_rss.png'  /> 
    <param name='animate_transition' value='yes' />
    <param name='display_static_image' value='yes' />
    <param name='display_spinner' value='yes' />
    <param name='display_overlay' value='yes' />
    <param name='display_count' value='yes' />
    <param name='showVizHome' value='no' />
    <param name='showTabs' value='y' />
    <param name='bootstrapWhenNotified' value='true' />
  </object>
</div>
